# Local system files
Thumbs.db
desktop.ini
.DS_Store

# Ignore uploaded assets to keep repo clean, but keep directory structure
/uploads/*
!/uploads/.gitkeep

# Ignore local SQLite database
artvault.sqlite
